[Unit]
Description=Bee Clef
Documentation=https://docs.ethswarm.org
After=network.target

[Service]
NoNewPrivileges=true
User=bee-clef
Group=bee-clef
ExecStart=/usr/bin/bee-clef-service start
ExecStop=/usr/bin/bee-clef-service stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
