name: Release

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*.*.*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: 'true'
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: ethereum/go-ethereum
          path: go-ethereum
          ref: v1.9.25
      - run: git fetch --prune --unshallow
      - name: Setup release environment
        if: success() && startsWith(github.ref, 'refs/tags/v')
        run: |-
          echo 'GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}' > .release-env
          echo 'HOMEBREW_TAP_PAT=${{ secrets.HOMEBREW_TAP_PAT }}' >> .release-env
      - name: Docker Login
        if: success() && startsWith(github.ref, 'refs/tags/v')
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username "${DOCKER_USERNAME}" --password-stdin
      - name: Release dry run
        if: success() && startsWith(github.ref, 'refs/tags/v')
        run: make release-dry-run
      - name: Release publish
        if: success() && startsWith(github.ref, 'refs/tags/v')
        run: make release
